<!doctype html>

  <head>
    <title>Livathing</title>
    <meta charset="utf-8" />  
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="mustache.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="categories.js"></script>
    <script src="geolocation.js"></script> 
    <script src="events.js"></script> 

 
    <script type="text/template" id="catTempl">
        {{#categorie}}
            <img src="./img/{{name}}.png" class="categorie" keyword="{{name}}"/>
        {{/categorie}}
    </script>


    <script type="text/template" id="evtTempl">
        {{#event}}
            <p class="event">
            <b><span class="icon" style="text-shadow: 1px 2px black; color:white;">z</span></b> {{name}} <br />
            <b><span class="icon" style="color: #FF7C71">@</span></b> {{location}}<br />
            <b><span class="icon" style="">U</span></b> {{attendees}}<br />
            <b><span class="icon" style="color: #C41F1F">\</span></b> Le 17 novembre à 17h00<br />
            </p>
        {{/event}} 
    </script>


    <script type="text/javascript">

    	$(document).on("ready", function() {
    		// Géolocalisation
    		if (navigator.geolocation) {
			  navigator.geolocation.getCurrentPosition(success, error);
			} 
			else {
			  error('not supported');
			}

            $('#datepicker').on('click', function() {
                $( "#datepicker" ).datepicker();
            });

             $('.exactivity').on('click', function() {
                $('#activity').val($(this).html());
             });

    		$('#activity').css('color', 'grey');
    		$('#activity').on('blur', function() {
    			if ( $('#activity').val() == "" ) {
    				$('#activity').val("J'ai envie de ...");
    				$('#activity').css('color', 'grey');
    			}
    		});

			// Categories
			loadCategories();
			 
    		$('#activity').on('click', function() {
    			$('#activity').css('color', 'black');
                if ( $('#activity').val('') == "J'ai envie de ..." )
    			     $('#activity').val('');
    		});

    		
            $('#activity').on('keyup', function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                    var keyword = $('#activity').val();
                    searchEvent(keyword, lat, long); 
                }
            });

    		$('#go').on('click', function() {
                var keyword = $('#activity').val();
                searchEvent(keyword, lat, long); 
    		});
    		
    	});
    </script>  

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="http://static.raff.ca/pictos/pictos.css">
    <link rel="stylesheet" type="text/css" href="style.css" /> 
  </head>

  <body>
      <div id="logo">
    	<!-- Input de recherche-->
        <div id="infos">
            Salut SWS ! <br />
            <a href="#">Quitter ?</a>
        </div>
    	<div id="content"> 
    		<div id="buttons">
    			<input type="text" id="activity" class="txtinput" size="50" value="J'ai envie de ..."/> <br />
                <u>Exemple</u>: <a href="#" class="exactivity" >Magasiner</a>, <a href="#" class="exactivity">partir à l'aventure</a> ...<br />
                <!-- <input id="datepicker" class="txtinput" type="text" style="color:gray" value="Quand?" />  --> <br />
                <!-- <span id="datepicker" class="icon" style="text-align: right" >\</span> <br />-->
    			 <span class="icon">@</span> <span id="location"></span> - <a href="#" id="editlocation" style="text-decoration:none">Edit</a><br />
    		</div> 
    		<div>
                <input type="submit" id="go" class="gobutton" value="On y va !"/>
    		</div>
    		

            <div id="events" style="display:none"> 
                <h1>Evénements à proximité</h1>
        		<div id="resultats">
        		      
        		</div>
            </div>
 
            <!-- Catégories populaires -->
            <div id="catcontenant">
                <h1>Catégories populaires</h1>
        		<div id="categories"> 
                    
        		</div>
            </div>
    	</div>

    	<!-- Mentions légales -->
    	<div id="mentionslegales">
    		( c ) - Livathing '13
    	</div>
      </div>
  </body>

</html>