<!doctype html>

  <head>
    <title>livathing login</title>
    <meta charset="utf-8" /> 
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<SCRIPT LANGUAGE="JavaScript" type="text/javascript" src="profileJS.js"></SCRIPT>
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

    	$(document).on("ready", function() {
	    		// Attachement des événements aux boutons
    		$('#signup').on('click', function() { 
    			alert('soon'); 
    		});
    		
    		$('#login').on('click', function() {
    			alert('soon');
    		});
    		
    	});
    </script> 

    <link rel="stylesheet" type="text/css" href="styleProfile.css" /> 
	<link rel="icon" href="favicon.ico"/>
  </head>
  
  <body>
	<header id="logo">
		<a href="http://www.livathing.com/views"><img src="img/logo.png" alt="Logo Livathing"/></a>
		<h1 id="pensee">« Tout est impossible jusqu'à ce qu'on le réalise »</h1>
	</header>

	<div id="page">
		<section id="sideGauche">
			<div id="infoProfile">
			
				<div id="boutonFavori">
				<a href="#" class="bouton_favori"><img src="img/favorite.png" alt="favoris"/></a>
				</div>
				
				<div id="photo">
					<img src="img/photoProfile1.jpg" alt="Photo de profile"/>
				</div>
				
				
				
				<div id="nom">
					<h2><img src="img/point_connecter.png"  id="pitonConnection" alt="Photo de profile"/>Alicia Beauregard</h2>
					<h3>Sherbrooke</br>25 ans</h3>
				</div>
		
				
			</div>
			
			<div id="boutonAgenda">
					<a href="#" class="bouton_agenda">Inviter à un évènement</a>
			</div>
		
			<div id="proposerActivite">
				<a href="#" class="bouton_proposerActivite">Discuter </a>
			</div>
			
		</section>
		
			
		<div id="bloc_interets">

			<h3>Intérêts de Alicia Beauregard</h3>
			
			<section id="descriptionInterets">
				<table> 
				
					<div id="groupeTitre">
						<tr id="titresCategories">
							<td>Sports</br></td>
							<td>Restaurants</br></td>
							<td>Culture</br></td>
							<td>Plein-air</br></td>
							<td>Éducation</br></td>
							<td>Social</br></td>
						</tr>
					</div>
				
					<tr id = "menuInterets">
						<td><a href="#" id="sports"><img src="img/ballon.png" alt="Sports" onClick="addSports();"/></a></td>
						<td><a href="#" id="restauration"><img src="img/restaurant_food.png" alt="Restauration"/></a></td>
						<td><a href="#" id="culture"><img src="img/socialLogo.png" alt="Culture"/></a></td>
						<td><a href="#" id="pleinair"><img src="img/randonnee.png" alt="Plein air"/></a></td>
						<td><a href="#" id="educatif"><img src="img/book.png" alt="Educatif"/></a></td>
						<td><a href="#" id="social"><img src="img/peuple.png" alt="Social"/></a></td>
					</tr>
					
					<tr>
						<td>Soccer</td>
						<td>Da Toni</td>
						<td>Cinéma</td>
						<td>Chasse</td>
						<td>Cours de guitare</td>
						<td>PaintBall</td>
					</tr>
					
					<tr>
						<td>Escalade</td>
						<td>Bâton Rouge</td>
						<td>Musée</td>
						<td></td>
						<td></td>
						<td>Karting</td>
					</tr>
					
					<tr>
						<td></td>
						<td></td>
						<td>Théâtre</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</section>	
			
			<section id="interetsCommuns">
				<h2>Intérêts communs</h2>
				<p>- Chasse <img src="img/fleche.png" alt="flèche" id="fleche"/> 18 novembre , Acton-Vale , organisé par <a href="#" id="chasse">Gilles</a></p>
			</section>
		</div>
		
		<section id="aPropos">
			<p><div id="aProposStrong">À propos d'Alice: </div></br>Alice va écrire du texte intéressant sur elle.</br></br></p>
		</section>
		
		<aside id="publicite">
		</aside>
	
	</div>
  
  </body>