<!doctype html>

  <head>
    <title>livathing login</title>
    <meta charset="utf-8" /> 
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

    	$(document).on("ready", function() {
	    		// Attachement des événements aux boutons
    		$('#sports').on('click', function() { 
    			
    		});
    		
    		$('#restauration').on('click', function() {
    			alert('soon1');
    		});
			
			$('#culture').on('click', function() {
    			alert('soon2');
    		});
			
			$('#pleinair').on('click', function() {
    			alert('soon3');
    		});
			
			$('#educatif').on('click', function() {
    			alert('soon4');
    		});
			
			$('#social').on('click', function() {
    			alert('soon5');
    		});
    		
    	});
    </script> 

    <link rel="stylesheet" type="text/css" href="styleProfile.css" /> 
  </head>
  
  <body>
	<header id="logo">
		<img src="img/logo.png" alt="Logo Livathing"/>
	</header>
  
	<section id="pensee">
		<h1>« Quelqu'un pour une soirée ciné? »</h1>
	</section>	
	
	<section id="sideGauche">
		<div id="infoProfile">
			
			<div id="photo">
				<img src="img/photoProfile1.jpg" alt="Photo de profile"/>
			</div>
			
			<div id="boutonFavori">
			<a href="#" class="bouton_favori"><img src="img/favorite.png" alt="favoris"/></a>
			</div>
			
			<div id="nom">
				<h2><img src="img/point_connecter.png"  id="pitonConnection" alt="Photo de profile"/>Alicia Beauregard</h2>
			</div>
	
			
		</div>
		
		<div id="boutonAgenda">
				<a href="#" class="bouton_agenda">Inviter</a>
		</div>
	
		<div id="proposerActivite">
			<a href="#" class="bouton_proposerActivite">Discutter </a>
		</div>
		
	</section>
	
		
	<div id="bloc_interets">

		<h3>Intérêts de Alicia Beauregard</h3>
		
		<nav id = "menuInterets">
			<a href="#" id="sports"><img src="img/sport.png" alt="Sport"/></a>
			<a href="#" id="restauration"><img src="img/gateau.png" alt="Restauration"/></a>
			<a href="#" id="culture"><img src="img/guit.png" alt="Culture"/></a>
			<a href="#" id="pleinair"><img src="img/dehors.png" alt="Plein air"/></a>
			<a href="#" id="educatif"><img src="img/bebe.png" alt="Educatif"/></a>
			<a href="#" id="social"><img src="img/peuple.png" alt="Social"/></a>
		</nav>
		
		<section id="descriptionInterets">
		
		</section>	
	</div>
	
	<section id="aPropos">
		<p><div id="aProposStrong">À propos d'Alice: </div></br>Alice va écrire du texte intéressant sur elle.</br></br></p>
	</section>
	
	<section id="publicite">
	</section>
	
  
  </body>