body {
	width: 900px;
	margin: auto;

	background:url(home_page_background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	
	font-family: "Microsoft Tai Le",Helvetica,Arial,sans-serif;
}


#log-panel{
	text-align: right;
}

#log-panel , a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	margin-top: 25px;
	font-weight: bold;
}

a:hover{
	border-bottom: solid;
	color: white;
	font-size: 25px;
	margin-top: 25px;
	font-weight: bold;
}


#logo{
	margin-left: 300px;
}

img{
	padding-top: 50px;
	max-width: 200px;
	max-height: 200px;
}

#frameLogin{

	background-color: gray;
	
	border-style: solid;
	border-radius: 20px;
	border-color: white;
	
	padding-top: 90px;
	padding-left: 90px;
	padding-bottom: 90px;
	padding-right: 70px;
}

input{
	height: 50px;
	border-radius: 3px;
	
	margin-top: 22px;
	margin-left: 40px;
}

input[type="text"]{
	width: 250px;
}

input[type="password"]{
	width: 250px;
}

.login{
	margin-left: 260px;;
	width: 100px;
	height: 50px;
}

.login:hover{

}