body {
	background-color: #F6F1E3;	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#log-panel {
	text-align: right;	
}

#content {
	margin: 0 auto; 
	padding: 1em;
	width: 50%;
}

#buttons {
	background-color: white;
	padding: 3em;
}

#mentionslegales {
	position: absolute;
	font-size: 10pt;	
}